@media (max-width:1260px) {
    [class*="__container"] {
        max-width: 1030px;
    }

    .article__title {
        font-size: 60px;
    }
}

@media (max-width:1030px) {
    [class*="__container"] {
        max-width: 930px;
    }

    .page__body {
        grid-template-columns: 3fr 2fr;
        margin-bottom: 120px;
    }

    .article__title {
        font-size: 58px;
    }

    .page__image {
        transform: translateX(0px);
    }

    .second-page__body {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .second-page__button {
        align-self: center;
    }

    .second-page__image {
        max-width: 70%;
        justify-self: center;
    }

    .second-page__titlebox {
        text-align: center;
    }

    .second-page__list {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .second-page__list li {
        align-items: start;
    }


}

@media (max-width:930px) {
    [class*="__container"] {
        max-width: 830px;
    }

    .header__body {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
    }

    .header__menu {
        flex-grow: 0;
    }

    .article__actionbox {
        justify-content: end;
    }

    .advantagebox {
        grid-template-columns: auto 8px auto;
        column-gap: 60px;
        justify-content: center;
    }

    .advantagebox__item:nth-child(1),
    .advantagebox__item:nth-child(5) {
        justify-content: end;
    }

    .advantagebox__decor:nth-child(4) {
        display: none;
    }

    .card {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: 1fr;
    }

    .article__title {
        font-size: 56px;
    }

    .page__body {
        grid-template-columns: 1fr;
        margin-bottom: 60px;
    }

    .page__image {
        max-width: 70%;
        justify-self: center;
    }

    .page__article {
        padding-right: 0px;
    }



    .page__article {
        order: 2;
    }

    .card__title {
        line-height: 1.2;
    }

    .card__article {
        row-gap: 10px;
    }

}

@media (max-width:830px) {
    [class*="__container"] {
        max-width: 730px;
    }

    .article__title {
        font-size: 54px;
    }

    .advantagebox {
        column-gap: 20px;
    }

    .title {
        font-size: 40px;
    }

}

@media (max-width:730px) {
    [class*="__container"] {
        max-width: 630px;
    }

    .article__title {
        font-size: 50px;
    }

    .title {
        font-size: 38px;
    }
}

@media (max-width:630px) {
    [class*="__container"] {
        max-width: 530px;
    }

    .header__body {
        flex-direction: column;
    }

    .header__menu ul {
        column-gap: 15px;
    }

    .article__title {
        font-size: 44px;
        line-height: 1.2;
    }

    .title {
        font-size: 36px;
    }

    .card__pricebox {
        flex-wrap: wrap;
    }
}

@media (max-width:530px) {
    [class*="__container"] {
        max-width: 430px;
    }

    .button {
        width: 100%;
    }

    .header__body {
        align-items: stretch;
    }

    .header__logo {
        align-self: center;
    }

    .header__action {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 20px;
    }

    .header__button span {
        padding: 5px;
    }

    .header__log-in span {
        font-size: 0px;
    }

    .article__actionbox {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .button span {
        text-align: center;
        padding: 5px;
    }

    .advantagebox {
        grid-template-columns: 1fr 8px 1fr;
    }

    .advantagebox__item {
        flex-direction: column;
    }

    .second-page__list {
        grid-template-columns: 1fr;
    }

    .cardbox {
        grid-template-columns: auto;
    }

    .card__article {
        padding: 10px;
    }

    .article__title {
        font-size: 40px;
    }

    .title {
        font-size: 30px;
    }
}

@media (max-width:387px) {
    .article__title {
        font-size: 36px;
    }
}
